{{ define "main" }}
<main id="main">
  <h1 align="center">{{ .Title }}</h1>
  <!--
  {{ if site.Params.search }}
  <input
    id="search"
    type="text"
    placeholder="{{ T "search_placeholder" }}"
    aria-label="{{ T "search_aria_label" }}"
  />
  {{ end }}
  -->
  <ul align="center" class="patterns-list" id="list">
    {{ range .Pages.ByPublishDate.Reverse }}
    <li>
      <h4>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </h4>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
